run = "pip install -r requirements.txt -q && python -m groks_secret.main"
entrypoint = "groks_secret/main.py"
modules = ["python-3.10", "nix", "postgresql-16"]

[deployment]
build = ["pip", "install", "-r", "requirements.txt"]
run = ["python", "-m", "groks_secret.main"]
deploymentTarget = "vm"

[nix]
channel = "stable-25_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "postgresql", "tcl", "tk", "zlib"]

[env]
PYTHONUNBUFFERED = "1"

[workflows]

[[ports]]
localPort = 8080
externalPort = 80

[userenv]

[userenv.shared]
CHAT_BOT_USER_ID = "2100292761698099200"
